// 푸터 시작 --------------------------------------------------------------------- /
.footer {
  background-color: $grayscaleBlack;
  padding-bottom: rem(30px);
}

// footer privacy-list

.privacy-list {
  display: flex;
  color: $grayscaleGray;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 400;
  font-size: rem(12px);
  border-bottom: 1px solid rgba(97, 97, 97, 0.5);
  align-items: center;

  @include mobile {
    padding: rem(15px) rem(17px) rem(24px);

    .privacy-item {
      margin: 0 rem(8px) rem(5px);
    }
  }

  @include desktop {
    padding: rem(20px);

    .privacy-item {
      margin: 0 rem(10px) 0;
    }
  }

  .privacy-item:nth-child(2) {
    color: $grayscaleWhite;
  }
}

// footer log
.footer-log {
  // log mobile
  @include mobile {
    width: rem(160px);
    height: auto;
    margin: 25px auto 0;
  }

  @include desktop {
    width: rem(180px);
    height: auto;
    margin: rem(30px) auto 0;
  }
}

.address {
  color: $grayscaleGray2;
  font-size: rem(12px);
  font-weight: 400;
  margin-top: rem(24px);
  text-align: center;

  .address__content {
    display: inline-block;
    margin-bottom: rem(5px);
  }

  @include mobile {
    padding: 0 rem(22px);

    .address__content {
      display: inline-block;
      margin-bottom: rem(5px);
      margin-right: rem(11px);
    }
  }

  @include desktop {
    padding: 0 rem(64px);

    .address__content {
      margin-right: rem(15px);
    }
  }
}

.copyright {
  display: block;
  font-size: rem(11px);
  font-weight: 700;
  color: $grayscaleGray2;
  text-align: center;

  @include mobile {
    margin-top: rem(15px);
  }
  @include desktop {
    margin-top: rem(20px);
  }
}

// 푸터 종료 --------------------------------------------------------------------- /
