// 헤더 시작 ------------------------------------------------------------------------ /
// 헤더 네비게이션 스타일

.header {
  position: relative;
  padding: rem(18px);
  border: 1px solid rgba(245, 245, 245, 0.5);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  @include desktop {
    padding: rem(14px);
  }

  .header-inner {
    @include desktop {
      max-width: rem(740px);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// 로고

.logo {
  width: rem(140px);
  height: rem(14px);
}

.logo svg {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

// 메인메뉴 제어 버튼

.button--burger {
  @include mobile {
    @include buttonNone;
    width: rem(18px);
    height: rem(14px);
    overflow: hidden;
    transform: translate(0, 0);
    position: absolute;
    z-index: 2;
    top: rem(18px);
    right: rem(16px);
    cursor: position;
  }

  @include desktop {
    display: none;
  }
}

.button--burgerBarTop,
.button--burgerBarMiddle,
.button--burgerBarBottom {
  @include mobile {
    position: absolute;
    background: $grayscaleGray;
    left: 0;
    width: 100%;
    height: 20%;
    border-radius: 0.25rem;
  }
}
.button--burgerBarTop {
  @include mobile {
    position: absolute;

    top: 0;
  }
}
.button--burgerBarMiddle {
  @include mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.button--burgerBarBottom {
  @include mobile {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }
}

.button--burger span {
  transition: all 200ms;
}

.button--burger.is-active .button--burgerBarTop {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.button--burger.is-active .button--burgerBarMiddle {
  transform: translate(-110%, -50%);
}
.button--burger.is-active .button--burgerBarBottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

// 헤더 종료 --------------------------------------------------------------------- /
