@use 'sass:math';

// Float 해제를 위한 clear 스타일 ---------------------------------------------------- /
// Auto Margin을 활용한 박스 가운데 정렬 ------------------------------------------------ /
@mixin autoMargin($marginX: auto) {
  margin-left: $marginX;
  margin-right: $marginX;
}

// 요소 박스의 가로 크기를 뷰포트 기준 100vw로 설정 -------------------------------------------- /

// 요소 박스의 크기 고정 ----------------------------------------------------------- /

@mixin fontDetail($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
@mixin fontDetail($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

// 버튼 기본 스타일 제거
@mixin buttonNone {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
}
@mixin fontDetail($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

// iframe
@mixin respondIframe($w: 16, $h: 9) {
  position: relative;
  padding-top: math.div($h, $w) * 100%;
  height: 0 !important;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 플렉스 박스 믹스인 ---------------------------------------------------------------- /
@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

// padding 관련 믹스인
@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}

@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

// margin 관련 믹스인
@mixin autoMargin($marginX: auto) {
  margin-left: $marginX;
  margin-right: $marginX;
}

@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}

@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}
