// 이디야 매장 찾기 (Store) 시작 ------------------------------------------------------ /
.store {
  @include desktop {
    position: relative;
  }
}

.store-search-container {
  @include mobile {
    margin: rem(20px) rem(18px);
    min-width: rem(339px);
  }

  @include desktop {
    position: absolute;
    top: rem(30px);
    right: rem(60px);
    width: rem(420px);
    height: rem(209px);
    box-shadow: 0 0 rem(5px) rem(5px) $grayscaleSnow;
    z-index: 10;
  }
}

.store-search-tab {
  display: flex;
}

.store-search-tab li {
  width: 50%;
  text-align: center;
}

.store-search-tab button {
  display: block;
  width: 100%;
  height: 100%;
  padding: rem(9px) rem(6px);
  border: none;
  outline: none;
  background-color: $grayscaleSnow;
  @include fontDetail(400, rem(13px), rem(13px), $primaryBlue);

  &[aria-selected='true'] {
    background-color: $primaryBlue;
    @include fontDetail(700, rem(13px), rem(13px), $grayscaleWhite);
  }
}

.search-bar {
  position: relative;
  width: 100%;
  background-color: $primaryBlue;
}

.search-bar input {
  width: calc(100% - rem(16px));
  height: rem(26px);
  margin: rem(8px);
}

.buttonSearch {
  position: absolute;
  top: 50%;
  right: rem(8px);
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
}

.store-searched-list li {
  display: flex;
  border: rem(2px) solid $grayscaleSnow;

  @include desktop {
    background-color: $grayscaleWhite;
  }
}

.ediya-logo {
  width: rem(45px);
  height: rem(45px);
  margin: rem(10px) rem(8px) rem(10px) rem(10px);
}

.store-info {
  display: flex;
  flex-flow: column nowrap;
}

.store-title {
  margin-top: rem(15px);
  margin-bottom: rem(2px);
  @include fontDetail(700, rem(15px), rem(15px), $primaryBlue);
}

.store-address {
  @include fontDetail(400, rem(13px), rem(18.2px), $primaryBlue);
}

.store-map-container {
  position: relative;
  width: calc(100% - rem(40px));
  padding-top: 75%;
  overflow: hidden;
  margin: 0 auto rem(20px);
}

.store-map {
  @include mobile {
    width: 100%;
    margin: 0 rem(18px);
  }
  @include desktop {
    text-align: center;
  }
}

.store-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: rem(20px);
}

// 이디야 매장 찾기 (Store) 종료 ------------------------------------------------------ /
